.HudBase
{
	width: auto;
	height: 30;
	border: 8px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.HudContainer
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 500px;
}

.HudMoneyContainer
{
	flex-direction: row;
}

.HudButtonsContainer
{
	flex-direction: row-Reverse;
}

.CurrencyPanel
{
	background-color: var(--bg-blueContainer);
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 25px;
}

.MoneyPanel
{
	font-size: large;
	margin: 0px;
}

.MoneySecondsPanel
{
	font-size: medium;
	align-items: end;
}

.CurrencyPanelBase
{
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.CurrencyContainer
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.SmallCurrencyPanel
{
	background-color: var(--bg-blueContainer);
	width: 90px;
	display: flex;
	flex-direction: row;
	align-items:end;
	height: 20px;
	border-radius: 25px;
}

.CurrencyContainerValue
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;
}

.SeedContainer
{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 13px;
}

.ButtonMenu
{
	margin-left: 20px;
	padding-top: 5px;
}