.StoreFruitButton
{
	border: 5px solid rgba(0, 0, 0, 0);
	background-color: var(--sub-container2);
	width: 120px;
	height: 120px;
	margin: 10px auto;
    transition: 0.3s;
	border-radius: 15px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	user-select: false;
}

.StoreFruitButton:hover
{
	border: 5px solid white;
	
}

.crop-box
{
    width:32px;
    height: 32px;
    overflow: hidden;
    position: relative;
	scale: 2;
}