.buttonContainer
{
	background-color: var(--sub-container2);
	width: 240px;
	height: 120px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.NewFlowerButton
{
	width: 80%;
	height: 70px;
	background: var(--button-background-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
    color: var(--text-white);
    transition: 0.3s;
	user-select: none;

	justify-content: space-between;
	padding: 0 20px

}

.NewFlowerButton:hover
{
    background: var(--button-background-color-hover);
    color: var(--text-black);
}

.NewFlowerNameButton
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;
}

.FlowerStoreLateralContents
{
	background: var(--container);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 10% 5% 10% 15% 25% 15%;
	flex-direction: column;
}